<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Connect tag success</title>
    <Link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="extended-dialog">

      <div class="dialog">
        <% if (message || title) { %>
          <h1><%= title %></h1>
          <div id="success-msg" class="message">
        <% } else { %>
          <div id="success-msg" class="message" style='display: none;'>
          <% } %>
          <p><%= message %></p> 
        </div>
      </div>
        
        <div class="dialog">
          <h2>Bokningar <%= date %></h2>
          <ul>
            <% timeslots.map(item=> { %>
              <li class="calendar-day-bookings-animate calendar-day-bookings--occupied" key="<%= item._id%>">
                <div class="calendar-day-bookings__content__timeslot"><strong><%= item.timeslot %></strong></div>
                <div class="calendar-day-bookings__content__user"><%= item.username %></div>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
  </body>
</html>